@font-face {
    font-family: 'Nanum Barun Gothic';
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.statically.io/gh/fonts-archive/NanumBarunGothic/main/NanumBarunGothicUltraLight.otf') format('opentype'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumBarunGothic/main/NanumBarunGothicUltraLight.ttf') format('truetype'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumBarunGothic/main/NanumBarunGothicUltraLight.woff') format('woff'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumBarunGothic/main/NanumBarunGothicUltraLight.woff2') format('woff2');
}
@font-face {
    font-family: 'Nanum Barun Gothic';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.statically.io/gh/fonts-archive/NanumBarunGothic/main/NanumBarunGothicLight.otf') format('opentype'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumBarunGothic/main/NanumBarunGothicLight.ttf') format('truetype'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumBarunGothic/main/NanumBarunGothicLight.woff') format('woff'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumBarunGothic/main/NanumBarunGothicLight.woff2') format('woff2');
}
@font-face {
    font-family: 'Nanum Barun Gothic';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.statically.io/gh/fonts-archive/NanumBarunGothic/main/NanumBarunGothic.otf') format('opentype'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumBarunGothic/main/NanumBarunGothic.ttf') format('truetype'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumBarunGothic/main/NanumBarunGothic.woff') format('woff'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumBarunGothic/main/NanumBarunGothic.woff2') format('woff2');
}
@font-face {
    font-family: 'Nanum Barun Gothic';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.statically.io/gh/fonts-archive/NanumBarunGothic/main/NanumBarunGothicBold.otf') format('opentype'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumBarunGothic/main/NanumBarunGothicBold.ttf') format('truetype'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumBarunGothic/main/NanumBarunGothicBold.woff') format('woff'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumBarunGothic/main/NanumBarunGothicBold.woff2') format('woff2');
}
