@font-face {
    font-family: 'Nanum Barun Gothic';
    font-weight: 100;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumBarunGothic/NanumBarunGothicUltraLight.otf');
}
@font-face {
    font-family: 'Nanum Barun Gothic';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumBarunGothic/NanumBarunGothicLight.otf');
}
@font-face {
    font-family: 'Nanum Barun Gothic';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumBarunGothic/NanumBarunGothic.otf');
}
@font-face {
    font-family: 'Nanum Barun Gothic';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumBarunGothic/NanumBarunGothicBold.otf');
}
